.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 95vh;
}

.aboutContext {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.aboutTitle {
    margin-top: 1em;
    width: 89vw;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    opacity: 0.85;
    cursor: default;
    padding: .2em;
    background-color: #31729b;
    border: solid 3px #1D3557;
    color: #F1FAEE;
    margin-bottom: 1em;
}

.aboutTitle:hover {
    transition: transform .5s ease;
    transform: scale(1.02);
}

.aboutLeft {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
}

.aboutRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    opacity: 0.85;
    cursor: default;
    background-color: #31729b;
    border: solid 3px #1D3557;
    color: #F1FAEE;
    padding: 1.5em;
}

.aboutRight:hover {
    transition: transform .5s ease;
    transform: scale(1.02);
}

.aboutPicture {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    opacity: 0.85;
    cursor: default;
    padding: 1.5em;
    background-color: #31729b;
    border: solid 3px #1D3557;
    color: #F1FAEE;
    margin-bottom: 1em;
}

.aboutPhoto {
    background-color: #31729b;
    border: solid 3px #1D3557;
    color: #F1FAEE;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: auto;
    background-position: center center;
}

.aboutPicture:hover {
    transition: transform .5s ease;
    transform: scale(1.02);
}

.aboutConnect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    opacity: 0.85;
    cursor: default;
    background-color: #31729b;
    border: solid 3px #1D3557;
    color: #F1FAEE;
    padding: 1.5em;
}

.aboutConnect:hover {
    transition: transform .5s ease;
    transform: scale(1.02);
}

.buttonsAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}

@media (max-width: 1024px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .aboutTitle {
        margin-top: 1em;
        width: 90vw;
        height: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        opacity: 0.85;
        cursor: default;
        padding: 1.5em;
        margin-bottom: 1em;
    }

    .aboutContext {
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: center;
        justify-content: space-evenly;
    }

    .aboutLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        height: fit-content;
    }

    .aboutRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        height: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        opacity: 0.85;
        cursor: default;
        padding: 1.5em;
        margin-bottom: 1em;
    }

    .aboutPicture {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        height: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        opacity: 0.85;
        cursor: default;
        padding: 1.5em;
        margin-bottom: 1em;
    }

    .aboutConnect {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        height: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        opacity: 0.85;
        cursor: default;
        padding: 1.5em;
        margin-bottom: 1em;
    }
}

@media (max-width: 464px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .aboutTitle {
        margin-top: 1em;
        width: 80%;
        height: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        opacity: 0.85;
        cursor: default;
        padding: 1.5em;
        margin-bottom: 1em;
    }

    .aboutContext {
        display: flex;
        flex-direction: column;
        width: 91%;
        align-items: center;
        justify-content: space-evenly;
    }

    .aboutLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 91%;
        height: fit-content;
    }

    .aboutRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 88%;
        height: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        opacity: 0.85;
        cursor: default;
        padding: 1.5em;
        margin-bottom: 1em;
    }

    .aboutPicture {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        height: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        opacity: 0.85;
        cursor: default;
        padding: 1.5em;
        margin-bottom: 1em;
    }

    .aboutConnect {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        opacity: 0.85;
        cursor: default;
        padding: 1.5em;
        margin-bottom: 1em;
    }
}