.aboutContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.aboutLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.aboutRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.aboutContext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 50vh;
    animation: 1.9s ease-in 0s 1 aboutMeSlideLeftFade;
}

.aboutQuotePic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 50vh;
    width: 50%;
}

.aboutFirstLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 77%;
    margin: 0px;
}

.aboutIntro {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.aboutName {
    color: #79bfeb;
    font-family: "Arial Black", sans-serif;
    font-size: 40px;
    overflow: hidden;
    border-right: .15em solid #79bfeb;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation: 
    typing 4.5s steps(20, end) 1,
    blink-caret .75s step-end infinite;
}

.terminal {
    color: #79bfeb;
}

.aboutMe {
    text-align: left;
    font-family: "Arial Black", sans-serif;
    font-size: 40px;
}

.aboutButtonContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.aboutButton {
    background-color: #79bfeb;
    color: white;
    width: 30%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: solid 2px #79bfeb;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    animation: 2.6s ease-in 0s 1 buttonSlideLeftFade;
}

.aboutButton:hover {
    cursor: pointer;
    background-color: white;
    color: #79bfeb;
    transition: transform .5s ease;
    transform: scale(1.1);
}

.aboutButton:focus {
    outline: none;
}

.aboutPhoto {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: solid 2px #79bfeb;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
    animation: 1.9s ease-in 0s 1 aboutMeSlideLeftFade;
}

.aboutQuote {
    color: darkgrey;
    font-size: 20px;
    animation: 2.6s ease-in 0s 1 buttonSlideLeftFade;
}

@keyframes aboutMeSlideLeftFade {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes buttonSlideLeftFade {
    0% {
        transform: translateX(-15%);
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 44% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #79bfeb; }
}

@media (max-width: 464px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-bottom: 1em;
    }

    .aboutLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        height: fit-content;
        padding: 1em;
        margin-bottom: 1em;
    }

    .aboutContext {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aboutMe {
        text-align: center;
    }

    .aboutRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        height: fit-content;
        padding: 1em;
        margin-bottom: 1em;
    }

    .aboutButtonContainer {
        width: 100%;
    }

    .aboutName {
        font-size: 38px;
        letter-spacing: 0;
    }

    .aboutPhoto {
        width: 200px;
        height: 200px;
    }
}