.navbarMenu {
    left: 0;
}


.nameLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 10px;
}

.nameLogo:hover {
    cursor: pointer;
    transition: transform .5s ease;
    transform: scale(1.02);
}

.lunaLogo {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

/* .pageLocation {
    position: absolute;
    right: 0;
    left: 0;
} */

@media (max-width: 450px) {
    .pageLocation {
        display: none;
    }
}