.carouselContainer {
    width: 100vw;
    height: 77vh;
}

.projectTitle{
    color: #79bfeb;
    font-family: "Arial Black", sans-serif;
    font-size: 70px;
    width: 100%;
    text-align: right;
}

.projectTriphikers {
    width: 100vw;
    /* height: 100vh; */
}

.projectCovidNearUs {
    width: 100vw;
    /* height: fit-content; */
}