.carouselContainer {
    width: 100vw;
    height: fit-content;
}

.projectTitle{
    color: #79bfeb;
    font-family: "Arial Black", sans-serif;
    font-size: 70px;
    width: 100%;
    text-align: right;
}

.projectTriphikers {
    width: 100vw;
    height: 100vh;
}

.projectCovidNearUs {
    width: 100vw;
    height: fit-content;
}

@media (max-width: 464px) {
    .projectTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .projectTriphikers {
        width: 100%;
        height: fit-content;
    }

    .projectCovidNearUs {
        width: 100%;
        height: fit-content;
    }
}