.projectsContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    background-color: #F3F3F3;
}

.projectTriphikers {
    width: 100vw;
    height: fit-content;
}

.projectCovidNearUs {
    width: 100vw;
    height: fit-content;
}