.tripHikersContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.tripHikersContext{
    max-width: 85em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.tripHikersAbout{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.tripHikersLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.tripHikersRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100vh;
}

.tripHikersTitle {
    font-family: "Arial Black", sans-serif;
    font-size: 50px;
    width: 100%;
    color: #79bfeb;
}

.projectsP { 
    letter-spacing: 2px;
    font-size: 1.4rem;
    font-weight: 300;
}

.videoContainer { 
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border-radius: 5px;
}

.videoContainer iframe, .videoContainer object, .videoContainer embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.tripHikersButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.tripHikersButton {
    background-color: #79bfeb;
    color: white;
    width: 30%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: solid 2px #79bfeb;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.tripHikersButton:hover {
    cursor: pointer;
    background-color: white;
    color: #79bfeb;
    transition: transform .5s ease;
    transform: scale(1.1);
}

.tripHikersButton:focus {
    outline: none;
}

.tripHikersDemoLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.tripHikersQA1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.tripHikersQA2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

@media (max-width: 1040px) {
    .tripHikersContainer {
        width: 100%;
        height: fit-content;
    }

    .tripHikersContext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tripHikersLeft {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }

    .tripHikersRight {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }

    .tripHikersAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tripHikersTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tripHikersButtonContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .tripHikersDemoLinks {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 1em;
    }

    .tripHikersQA1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 1em;
    }

    .tripHikersQA2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 1em;
    }

    .projectsP {
        text-align: center;
    }

    .videoContainer {
        width: 100%;
        margin-bottom: 1em;
    }

    .tripHikersButton {
        width: 40%;
    }
}